* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(9, 242, 81);
  background: -moz-radial-gradient(
    circle,
    rgba(9, 242, 81, 1) 0%,
    rgba(244, 250, 71, 0.9540148823201156) 55%,
    rgba(250, 101, 190, 0.9428104005273985) 98%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(9, 242, 81, 1) 0%,
    rgba(244, 250, 71, 0.9540148823201156) 55%,
    rgba(250, 101, 190, 0.9428104005273985) 98%
  );
  background: radial-gradient(
    circle,
    rgba(9, 242, 81, 1) 0%,
    rgba(244, 250, 71, 0.9540148823201156) 55%,
    rgba(250, 101, 190, 0.9428104005273985) 98%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09f251",endColorstr="#fa65be",GradientType=1);
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  background-color: antiquewhite;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  border: 5px solid darkgray;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  position: relative;
}
img {
  position: absolute;
  width: 58px;
  left: 50%;
  transform: translate(-50%);
  top: 60px;
  z-index: 2;
}
.numbers div {
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  color: rgb(232, 137, 137);
  text-shadow: 1px 1px 2px rgba(199, 253, 3, 0.811);
}
.twelve {
  top: 6px;
  left: 50%;
  transform: translate(-50%);
}
.three {
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}
.six {
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}
.nine {
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.arrows {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.arrows::before {
  content: "";
  width: 22px;
  height: 22px;
  background-color: rgb(122, 31, 105);
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  z-index: 4;
}
.arrows div {
  background-color: rgb(255, 255, 255);
  width: 7px;
  position: absolute;
  height: 115px;
  transform-origin: bottom center;
  bottom: 50%;
  border: 1px solid rgb(65, 75, 79);
  z-index: 3;
  border-radius: 50% 50% 0 0;
  box-shadow: 2px 5px 3px rgba(105, 18, 98, 0.7);
}

.arrows .hour {
  height: 75px;
  transform: rotate(0deg);
}
.arrows .minutes {
  height: 104px;
  transform: rotate(0deg);
}
.arrows .second {
  height: 120px;
  transform: rotate(0deg);
  background-color: goldenrod;
  border: 1px solid gold;
}
.heading {
  position: absolute;
  top: 10px;
  font-size: 50px;
  font-weight: 900;
  text-decoration: underline;
}
